@use "./_vars.scss";

@mixin auth-background {
  background: rgb(220, 37, 151);
  background: linear-gradient(358deg, #b93cff 0%, rgb(25, 16, 81) 100%);
}

@mixin auth-card {
  background: vars.$white;
  border-radius: vars.$border-radius;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
}
