<div
  class="landing-page-container flex flex-col-reverse md:flex-row justify-center"
>
  <div
    class="text-container flex flex-col justify-center items-center w-full md:w-1/2 p-5 md:p-11"
  >
    <h2
      class="text-container__header text-3xl md:text-5xl lg:text-6xl font-bold mb-10"
    >
      Obstawiaj mecze <span class="custom-color">i nie trać pieniędzy</span>
    </h2>
    <p class="text-container__description text-base md:text-base text-justify">
      Lubisz obstawiać mecze, ale zauważyłeś, że ciągle przegrywasz? Tracisz nie
      tylko pieniądze, zaufanie żony, ale i w oczach sąsiada który kupił prawie
      nowego 15-letniego passata?
      <span class="custom-color">Skończ z tym!</span> Na start damy Ci 100 bieda
      coinsów. Aaa cooo! A Ty nic nie tracisz!
    </p>
    <button class="register-button mt-2 font-bold">
      Zacznij zabawę, zarejestruj się
    </button>
  </div>
  <div class="image-container flex justify-center items-center w-full md:w-1/2">
    <img
      class="image-container__background"
      src="assets/image/image.png"
      alt="fotballer photo"
    />
  </div>
</div>
