@use "_vars";

.drawer-container {
  width: 200px;
  height: 100vh;
}

.custom-toolbar {
  width: 100%;
  top: 0;
  background: #191051;
  position: fixed;
  position: -webkit-sticky;
  z-index: 1000;
  border-bottom: 3px solid #c000ff70;
}

.menu-item {
  transition: 0.3s;
}

.menu-item:hover {
  color: vars.$light-blue-text-color;
}
