@use "_mixins";
@use "_vars";

.sign-up-container {
  @include mixins.auth-background;
  color: vars.$light-blue-text-color;
  min-height: 100vh;
  position: relative;
}

.sign-up-card {
  @include mixins.auth-card;
}

.valid-criteria {
  color: green;
}

.invalid-criteria {
  color: red;
}
